body {
    background-color: #0080ff;
    margin: unset;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: x-large;
    /* padding-right: 30px; */
}
* {
    box-sizing: border-box;
}
li {
    float: right;
}
h1{
    font-size: x-large;
}
li a {
    display: inline-block;
    color: white;
    padding: 8px;
    padding-right: 8px;
    font-family: sans-serif;
}
li a:hover {
    background-color: rgb(162, 201, 83);
}
.nav { 
    position: 0;
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #333333;
    color: aliceblue;
    display: flex;
    height: 80px;
    padding: 10px;
    /* padding: auto;
    margin: auto;
    display: flex; */
    font-family: sans-serif;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}
.profilePic {
    height: 400px;
    width: 300px;
    float: right;
    margin: 10px 0 10px 10px;
    filter: drop-shadow(20px 20px 10px black);
    display: block;
}
footer {
    background-color: #333333;
    color: aliceblue;
    height: 70px;
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    box-shadow: 0 0 12px -2px black;
    display: block;
}
footer a {
    margin: 0 30px;
}
.media-link{
    height: 4rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    padding-top: 85;
    min-height: 100vh;
    padding: 85px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    display: block;
}
* {
    box-sizing: border-box;
}
main .quote {
    font-family: 'Satisfy', cursive;
    color: aliceblue;
    font-size: 50px;
    font-weight: 100;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-top: 4em;
    filter: drop-shadow(20px 20px 10px black);
}
.header {
    font-size: 50px;
    /* position: sticky; */
    filter: drop-shadow(20px 20px 10px black);
}
.bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
.header2 {
    font-family:'sans-serif';
    /* filter: drop-shadow(20px 20px 10px white);   */
}
.header4{
    text-align: left;
}
.p{
text-align: left;
}
.about-header {
    font-weight: 300;
    font-size: 2rem;
    filter: drop-shadow(20px 20px 10px black);
}
.about-img{
    height: 128px;
}
.about-section{
    float: right;
    margin: 0 24px 24px 24px;
}
.about-img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 300px;
    width: 300px;
    float: right;
    margin: 10px 0 10px 10px;
    filter: drop-shadow(20px 20px 10px black);
    display: block;

    /* overflow-x: ;
    overflow-y: ; */
}
.project-header {
    font-weight: 100;
    font-size: 2rem;
    border-bottom: 1px solid #ccc;
    filter: drop-shadow(20px 20px 10px black);
}
.project-container{
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.project-content{

}
.portfolio-img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 300px;
    width: 300px;
    float: right;
    margin: 10px 0 10px 10px;
    filter: drop-shadow(20px 20px 10px black);
    display: block;
}
.project {
    width: calc(100% - 6em);
    background: #fafafa;
    color: #222;
    box-shadow: 0 3px 6px -2px #ccc;
    margin: 2em auto;
    padding: 1em;
}